
.container {
}

.main {
  min-height: 100vh;
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro > img {
  margin-top: 25%;
  width: 10rem;
}

.intro h1 {
  font-family: BMJUA;
  font-weight: 100;
  font-size: 4rem;
  margin-bottom: 15rem;
}

.intro > div {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 4rem 0;
}

.intro > div.left {
  flex-direction: row;
}

.intro > div.right {
  flex-direction: row-reverse;
  text-align: end;
}

.intro div > img {
  width: 9rem;
  border-radius: 10rem;
  border: 0.25rem solid black;
}

.intro > div > div {
  margin: 2rem;
  flex-grow: 1;
}

.intro div > div > h1 {
  margin: 0;
  font-family: BMJUA;
  font-weight: 100;
  font-size: 3.5rem;
}

.intro div > div > h2 {
  margin: 0;
  font-family: BMJUA;
  font-weight: 100;
  font-size: 2rem;
}

.intro div.sns {
  margin: 20rem 0 10rem;
  display: flex;
  flex-direction: column;
}

.intro div.sns > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.intro div.sns > div > img {
  width: 2rem;
  height: 2rem;
  border: none;
}

.guestbook {
  width: 100%;
  padding: 1rem;
}

.guestbook .h1 {
  font-family: BMJUA;
  font-size: 2.5rem;
  line-height: 3.5rem;
}

.guestbook .like_cnt {
  margin-top: 0.75rem;
  padding: 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.guestbook .like_cnt img {
  width: 1.5rem;
  height: 1.5rem;
}

.guestbook .like_cnt h2 {
  margin: 0 0.5rem;
}

.guestbook .button {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
}

.guestbook .button a {
  width: 2rem;
  display: flex;
  flex-direction: row;
}

.guestbook .button .goto {
  height: min-content;
  border: 0.4rem black solid;
  background-color: black;
  flex-grow: 1;
  padding: 1rem 0.5rem;
  border-radius: 1.5rem;
}

.guestbook .button .goto h1 {
  text-align: center;
  color: white;
  margin: 0;
}

.guestbook .button .like {
  height: min-content;
  border: 0.4rem black solid;
  padding: 0.75rem 0.75rem 0.5rem;
  border-radius: 1.5rem;
}

.guestbook .button .like img {
  width: 3.25rem;
  text-align: center;
  margin: 0;
}

.top_bar {
  position: fixed;
  background-color: white; 
  left: 0;
  right: 0;
  top: 0;
  height: auto;
  border: 0.1rem solid lightgray;
  display: flex;
  font-family: BMJUA;
  align-items: center;
}

.top_bar img {
  width: 1.25rem;
  margin: 1rem;
  font-size: 2rem;
}
.top_bar img + img {
  width: 2rem;
  margin: 0rem;
  font-size: 2rem;
}

.top_bar p {
  margin: 1rem;
  color:black;
  font-size: 1.5rem;
}

.top_bar a {
  flex-grow: 1;
}

.top_bar > textarea {
  margin-right: 1rem;
  width: auto;
  height: 2rem;
  font-size: 1.2rem;
  flex-grow: 1;
  text-align: end;
  border: none;
  resize: none;
  font-family: Inter;
  font-weight: 400;
}

.chat {
  bottom: 0rem;
  padding: 2rem 0 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
}

.chat > div:hover {
  background-color: lightgray;
}

.chat > a {
  flex-grow: 1;
  align-items: center;
  border-radius: 2.5rem;
  margin: 0.5rem 0;
}

.chat > div {
  width: 95%;
  align-self: flex-start;
  display: flex;
  align-items: center;
  border-radius: 2.5rem;
  margin: 0.5rem 0;
}

.chat .red {
  filter: opacity(0.5) drop-shadow(0 0 0 red);
}

.chat .orange {
  filter: opacity(0.5) drop-shadow(0 0 0 orange);
}

.chat .yellow {
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(255, 238, 0));
}

.chat .green {
  filter: opacity(0.5) drop-shadow(0 0 0 green);
}

.chat .cyan {
  filter: opacity(0.5) drop-shadow(0 0 0 cyan);
}

.chat .blue {
  filter: opacity(0.5) drop-shadow(0 0 0 blue);
}

.chat .magenta {
  filter: opacity(0.5) drop-shadow(0 0 0 magenta);
}

.chat div img {
  width: 5rem;
  height: 5rem;
  border: 0.15rem solid white;
  border-radius: 3rem;
}

.chat > div > div {
  width: 90%;
  border: none;
  padding: 0 0.5rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
}

.chat > div > div > div {
  display: flex;
  align-items: center;
}

.chat > div > div > div h2 {
  font-size: 1.5rem;
  font-family: Inter;
  font-weight: 900;
  margin: 0;
}

.chat > div > div > div a {
  font-size: 1.25rem;
  font-family: Inter;
  font-weight: 400;
  color: gray;
  margin: 0;
  margin-left: 0.5rem;
}

.chat > div > div a {
  white-space: normal;
  word-break: normal;
  font-size: 1.5rem;
  font-family: Inter;
  font-weight: 400;
  margin: 0;
}

.bottom_bar {
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.bottom_bar > div {
  background-color: white; 
  height: auto;
  display: flex;
  padding: 1rem;
}

.bottom_bar > div .setting {
  background-color: white;
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 0.25rem;
  margin-right: 0.5rem;
  border-radius: 1.25rem;
  border: 0.2rem solid lightgray;
}

.bottom_bar > div .setting.active {
  background-color: lightblue;
}

.bottom_bar .selectImage {
  display: none;
  border: 0.15rem solid white;
  border-radius: 3rem;
  overflow-x: scroll;
  -ms-overflow-style: none;
}

.bottom_bar .selectImage.active {
  display: flex;
  animation-duration: 1s;
}

.bottom_bar .selectImage::-webkit-scrollbar {
  display:none;
}

.bottom_bar .selectImage img {
  width: 4rem;
  height: 4rem;
  margin: 0 0.75rem;
  border-radius: 3rem;
}

.bottom_bar .selectImage img.selected {
  border: 0.25rem solid black;
}

.bottom_bar > div div {
  background-color: white;
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: 100%;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  border: 0.2rem solid lightgray;
}

.bottom_bar > div div .textArea {
  margin-right: 0.5rem;
  height: 2rem;
  font-size: 1.2rem;
  flex-grow: 1;
  border: none;
  resize: none;
  font-family: Inter;
  font-weight: 400;
}

.bottom_bar > div div img {
  background-color: white;
  border-radius: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}